.header{
    margin: -20px 0 20px 0;
    height: 80px;
/*    background-color: rgb(76, 137, 168);*/
    background: url("../imgs/congruent_pentagon.png") repeat-x;
    box-shadow: 0px 5px 2px 1px rgb(167, 167, 167);
}

.text-muted{
    padding: 20px 0 0 100px;
    font-size: 32px;
    color: white;
}

@media only screen and (min-width: 1200px)
{
    .students{
        padding: 0 0 0 50px;
        border-left: 1px solid #CCC;
    }
}

@media only screen and (max-width: 1200px)
{
    .students{
        padding: 0 0 0 50px;
        border-top: 1px solid #CCC;
    }
}

.footer{
    float: right;
    margin: 100px 0 0 0;
}