<!DOCTYPE html>
<html lang="fr" ng-app="exam">
<head>
    <meta charset="UTF-8">
    <title>Examen</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bar.css">
</head>
<body>
    <div class="header">
        <h3 class="text-muted">Examen</h3>
    </div>
    <div class="container">
        <div class="row content" ng-controller="ClassController as classCtr">
            <div class="col-lg-3 classes">
                <h2>Classes</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(class, students) in classCtr.classesList">
                            <td><a href ng-click="classCtr.showStudents(class)">{{class}}</a></td>
                            <td>
                                <div ng-show="classCtr.seeState()">
                                    <img ng-click="classCtr.changeState()" src="imgs/edit.png"></a>
                                </div>
                            </td>
                            <td>
                                <div ng-hide="classCtr.seeStateInverse()">
                                    <form name="classForm" ng-submit="classCtr.backupState()">
                                        <input type="text" name="name" ng-model="class">
                                        <input ng-click="classCtr.editClass(class, students.id)" type="image" src="imgs/save.png">
                                        <input type="image" src="imgs/cancel.png">
                                    </form>
                                </div>
                            </td>
                            <td>
                                <a href ng-click="classCtr.removeClass(class)">
                                <img src="imgs/remove.png"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form name="classForm" ng-submit="classCtr.addClass()">
                    <input ng-model="classCtr.newClass.name" type="text" name="name"> <input type="image" src="imgs/add.png">
                </form>
            </div>

            <div class="col-lg-8 students" ng-controller="StudentController as studentCtr" ng-show="classCtr.currentClass">
                <h2>Etudiants de la classe {{classCtr.currentClass}}</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Editer</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in classCtr.classesList[classCtr.currentClass]['student']">
                            <td>{{student.firstname}}</td>
                            <td>{{student.lastname}}</td>
                            <td><a href><img src="imgs/edit.png"></a></td>
                            <td><a href><img src="imgs/remove.png"></a></td>
                        </tr>
                    </tbody>
                </table>
                <form name="studentForm" ng-submit="classCtr.addStudent()">
                    <input ng-model="classCtr.newStudent.name" type="text" name="name"> <input type="image" src="imgs/add.png">
            </div>
        </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
