<!DOCTYPE html>
<html lang="fr" ng-app="exam">
<head>
    <meta charset="UTF-8">
    <title>Examen</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bar.css">

</head>
<body>
    <div class="header">
        <!--<nav>
            <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>-->
        <h3 class="text-muted">Examen</h3>
    </div>
    <div class="container">
        <div class="row content">
            <div class="col-lg-3 classes" ng-controller="ClassController as classes">
                <h2>Classes</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="classe in classes.classes">
                            <td><a href>{{classe}}</a></td>
                            <td><a href><img src="imgs/edit.png"></a></td>
                            <td><a href><img src="imgs/remove.png"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-8 students" ng-controller="StudentController as students">
                <h2>Etudiants</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Editer</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students.students">
                            <td>{{student.firstname}}</td>
                            <td>{{student.lastname}}</td>
                            <td><a href><img src="imgs/edit.png"></a></td>
                            <td><a href><img src="imgs/remove.png"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="footer">
            <p>Y-nov Ingésup</p>
        </footer>

    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
